<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{lang.wfm}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> style-link-generator }}
    <script>
      // http://stackoverflow.com/questions/8648892/convert-url-parameters-to-a-javascript-object
      function calcObjFromUrl(search){
        return search ? JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g,'":"') + '"}',
          function(key, value) { return key===""?value:decodeURIComponent(value) }) : {};
      }
      
      function handleAuthResult(authResult){
        var resultObj = calcObjFromUrl(authResult);
        console.log(resultObj);
        // Send a code to the api (change to sid)
        
        var options = {
          cache : false,
          type : 'POST',
          // need for CORS requests without preflight request
          contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
          data: 'code=' + resultObj.code,
         	xhrFields : {
            // For CORS request to send cookies
            withCredentials : true
          }
        };
        
        $.ajax('http://localhost:3000/api/session-manager', options).done(function(rr){
          console.log('response from wfm-node', rr);
        }).fail(function(errr){
          console.log('error from wfm-node', errr);
          //if (jqXhr.status === 422) {
          //  err = langHelper.translate(jqXhr.responseJSON.errId) || '{{lang.unknownError}}');
          //}
        });
      }
      
      function sendSomeReq(){
        var options = {
          cache : false,
          type : 'GET',
          // need for CORS requests without preflight request
         	xhrFields : {
            // For CORS request to send cookies
            withCredentials : true
          }
        };
      
        $.ajax('http://localhost:3000/api/company?id=429296ec-b457-4c15-afd8-6465bd69c430', options).done(function(rr){
          console.log('some response from wfm-node', rr);
        }).fail(function(errr){
          console.log('some error from wfm-node', errr);
        });
      }
    
      function openNewWindow(next) {
        var redirectUri = 'http://127.0.0.1:12345/handle-auth-code.html';
      
        var authWindow;
      
        var authInterval = setInterval(function(){
          var authLocation = authWindow.location;
          
          var authLocationHref;
          // Uncaught SecurityError: Blocked a frame with origin "http://127.0.0.1:12345" from accessing 
          // a frame with origin "http://localhost:1337". Protocols, domains, and ports must match.
          try {
            authLocationHref = authLocation.href;
          }
          catch (errSecurity) {}
          
          console.log(authLocationHref);
          
          if (authLocationHref){
            var hrefParts = authLocationHref.split('?');
            if (hrefParts[0] === redirectUri){
              // Get code or error
              var authResponse = hrefParts[1];

              clearInterval(authInterval);
              // Close popup
              authWindow.close();
              
              next(authResponse);
            }
          }
          
        }, 1000);
      
        authWindow = window.open('http://localhost:1337/dialog/authorize?response_type=code&client_id=abc123&redirect_uri=' + redirectUri, '_blank',
        'location=yes,height=570,width=520,scrollbars=yes,status=yes');
      }
    </script>
</head>
<body>
    <!--[if lt IE 10]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please upgrade your browser.</p><![endif]-->
    <div class="hide" id="workspace-project">
      <div>
          <!-- current: vwmWorkspace-->
          <nav class="wfm-nav clearfix navbar-inverse">
            <div data-bind="ifnot: vwmUserProfile">
              {{> style-link-selector }}
            </div>
            <div data-bind="with: vwmUserProfile">
              <div class="pull-left wfm-nav__block">
                <span class="link-view-inverse" data-bind="click: deactivateVwmChild">{{lang.wfm}}</span>
              </div>
              <div class="pull-right wfm-nav__block">
                <!-- TODO: #22! add logic for logoff -->
                <button type="button" class="btn btn-xs btn-inverse" data-bind="">
                  <i class="glyphicon glyphicon-off"></i>
                  {{capitalizeFirst lang.logOut}}
                </button>
              </div>
            </div>
          </nav>
          <div class="wfm-content-wrap">
              <div>
                  <div data-bind="visible: mdlWorkspace.isTriedToLoadUserProfile">
                      <div data-bind="ifnot: vwmUserProfile">
                        <a href="#" onclick="openNewWindow(handleAuthResult)">Open auth</a>
                        <a href="#" onclick="sendSomeReq()">Send some req</a>                          
                      </div>
                      <div data-bind="with: vwmUserProfile">
                          <!-- current: vwmUserProfile -->
                          <div data-bind="ifnot: mdlStage.isLoadedEmployees">{{lang.loading}}</div>
                          <div data-bind="if: mdlStage.isLoadedEmployees">
                              <!-- If no selected employee: show list of employees -->
                              <div data-bind="ifnot: slcVwmChild">
                                  {{> employee-list }}
                              </div>
                              <div data-bind="with: slcVwmChild">
                                  <!-- current: vwmEmployee-->
                                  <div data-bind="if: mdlEmployee.canEditAll">
                                      {{> edit-mode-btn }}
                                  </div>
                                  <div>
                                      <div>
                                          <div class="clearfix">
                                              <div class="sidebar-toggle" data-bind="css: $root.sidebarToggleCss">
                                                  <button type="button" data-bind="click: $root.toggleIsVisibleMenu.bind($root)" title="Hide/show menu">
                                                      <i class="glyphicon glyphicon-chevron-left" data-bind="visible: $root.isVisibleMenu"></i>
                                                      <i class="glyphicon glyphicon-chevron-right" data-bind="hidden: $root.isVisibleMenu"></i>
                                                  </button>
                                              </div>
                                              <!-- TODO: fix: slider scroll with page scroll #MH! -->
                                              <div class="sidebar-wrap" data-bind="css: $root.sidebarWrapCss">
                                                  <div data-bind="scroller: { }">
                                                      {{> workspace-menu }}
                                                  </div>
                                              </div>
                                              <div class="workspace-container" data-bind="css: $root.workAreaCss, with: vwmCompany">
                                                  <!-- current: vwmCompany-->
                                                  <div data-bind="ifnot: slcVwmChild">
                                                      <!-- if no selected wegion -->
                                                      {{> section-panel-standard }}
                                                      {{> dashboard-arousal }}
                                                      {{> fmgr-arousal }}
                                                      {{> fmgr-modal }}
                                                      <div class="tab-content-pad">
                                                          {{> company }}
                                                      </div>
                                                  </div>
                                                  <div data-bind="with: slcVwmChild">
                                                      <!-- current: vwmWegion -->
                                                      <div data-bind="ifnot: slcVwmChild">
                                                          {{> section-panel-standard }}
                                                          {{> dashboard-arousal }}
                                                          {{> fmgr-arousal }}
                                                          {{> fmgr-modal }}
                                                          <div class="tab-content-pad">
                                                            {{> wegion }}
                                                          </div>
                                                      </div>
                                                      <div data-bind="with: slcVwmChild">
                                                          <!-- current: vwmWield-->
                                                          <div data-bind="ifnot: slcVwmChild">
                                                              {{> section-panel-standard }}
                                                              {{> dashboard-arousal }}
                                                              {{> fmgr-arousal }}
                                                              {{> fmgr-modal }}
                                                              <div class="tab-content-pad">
                                                                {{> wield }}
                                                              </div>
                                                          </div>
                                                          <div data-bind="with: slcVwmChild">
                                                              <!-- current: vwmWroup -->
                                                              <div data-bind="ifnot: slcVwmChild">
                                                                  {{> section-panel-standard }}
                                                                  {{> dashboard-arousal }}
                                                                  {{> fmgr-arousal }}
                                                                  {{> fmgr-modal }}
                                                                  <div class="tab-content-pad">
                                                                    {{> wroup }}
                                                                  </div>
                                                              </div>
                                                              <div data-bind="with: slcVwmChild">
                                                                  <!-- current: vwmWell -->
                                                                  {{> section-panel-well }}
                                                                  {{> dashboard-arousal }}
                                                                  {{> fmgr-arousal }}
                                                                  {{> fmgr-modal }}
                                                                  <div class="tab-content-pad">
                                                                    {{> well }}
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end: isLoadedAccountInfo -->
              </div>
          </div>
      </div>
      {{> modal-standard }}
      {{> modal-panzoom }}
      {{> modal-wide }}
      <!-- widget templates: loaded only once on the index page -->
      {{> widget-default-summary }}
      {{> widget-wield-map }}
      {{> widget-wield-stat }}
      {{> widget-well-sketch}}
      {{> widget-well-history}}
      {{> widget-well-perfomance}}
      {{> widget-well-monitoring}}
      {{> widget-well-map}}
      <!-- clip path for svg blocks -->
      {{> clip-path-graph }}
    </div>
    <footer class="wfm-footer navbar-fixed-bottom">
      <div class="wfm-footer__logo-wrap">
        <div class="wfm-footer__logo"></div>
      </div>
    </footer>
    <!-- <div id="loader-main" class="loader-circle-large"></div> -->
    <div id="loader-main">
      <div class="f_circleG" id="frotateG_01">
      </div>
      <div class="f_circleG" id="frotateG_02">
      </div>
      <div class="f_circleG" id="frotateG_03">
      </div>
      <div class="f_circleG" id="frotateG_04">
      </div>
      <div class="f_circleG" id="frotateG_05">
      </div>
      <div class="f_circleG" id="frotateG_06">
      </div>
      <div class="f_circleG" id="frotateG_07">
      </div>
      <div class="f_circleG" id="frotateG_08">
      </div>
    </div>
    <!-- Load main script file for page or default (with auth logic only) -->
    {{#if conf.isProd}}
    <script data-main="js/main-bundle-{{package.version}}" src="js/require.min.js"></script>
    {{else}}
    <script data-main="js/main" src="js/require.js"></script>
    {{/if}}
</body>
</html>