---
layout:false
---
<div class="wfm-content-pad">
    <div class="clearfix">
        <div class="col-md-6 col-md-offset-1">
            <h3>{{capitalizeFirst lang.registration}}:</h3>
            <form class="form-horizontal" name="accountForm">
                <div class="form-group" ng-class="{'has-error': accountForm.email.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.email}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="email" name="email" required autofocus ng-model="usver.email" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span class="help-block" ng-show="accountForm.email.$error.email">{{lang.wrongEmailFormat}}</span>
                        <span class="help-block" ng-show="accountForm.email.$error.required">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': accountForm.password.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.password}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="password" required ng-model="usver.password"
                               ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span class="help-block" ng-show="accountForm.password.$error.maxlength">{{lang.maxLength}}: <span ng-bind="bound.password.maxLength"></span></span>
                        <span class="help-block" ng-show="accountForm.password.$error.minlength">{{lang.minLength}}: <span ng-bind="bound.password.minLength"></span></span>
                        <span class="help-block" ng-show="accountForm.password.$error.required">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': accountForm.passwordConfirmation.$invalid}">
                    <label class="control-label col-sm-2">{{capitalizeFirst lang.passwordConfirmation}}</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="passwordConfirmation" required ng-model="usver.passwordConfirmation"
                               ng-minlength="{[{bound.password.minLength}]}" ng-maxlength="{[{bound.password.maxLength}]}" autocomplete="off" />
                    </div>
                    <div class="col-sm-4 has-error">
                        <span class="help-block" ng-show="accountForm.passwordConfirmation.$error.maxlength">{{lang.maxLength}}: <span ng-bind="bound.password.maxLength"></span></span>
                        <span class="help-block" ng-show="accountForm.passwordConfirmation.$error.minlength">{{lang.minLength}}: <span ng-bind="bound.password.minLength"></span></span>
                        <span class="help-block" ng-show="accountForm.passwordConfirmation.$error.required">{{lang.required}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button ng-click="tryRegister()" ng-disabled="accountForm.$invalid || !isProcessBtnEnabled" class="btn btn-primary">{{capitalizeFirst lang.toRegister}}</button>
                    </div>
                    <div class="col-sm-8 has-error">
                        <span class="help-block" ng-bind="processError"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
			<h3>{{capitalizeFirst lang.steps}}:</h3>
            <ul class="list-unstyled text-center">
                <li class="well well-sm text-center">
                    <div class="step-1"></div>
                    <div>{{capitalizeFirst lang.emailConfirmation}}</div>
                </li>
                <li class="well well-sm text-center">
                    <div class="step-2"></div>
                    <div>{{capitalizeFirst lang.companyInfo}}</div>
                </li>
                <li class="well well-sm text-center">
                    <div class="step-3"></div>
                    <div>{{capitalizeFirst lang.toUse}} {{lang.wellFileManager}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>