<div class="min-margin">
  <!-- current: vwmUserProfile-->
  <ul class="list-group" data-bind="foreach: listOfVwmChild">
    <!-- current: vwmEmployee-->
    <li class="list-group-item">
      <div class="clearfix" data-bind="if: mdlEmployee.canViewAll">
        <div class="pull-left">
          <!-- select employee -->
          <span class="pointer" data-bind="click: $parent.activateVwmChild">
            <span data-bind="with: vwmCompany">
              <span data-bind="with: mdlStage">
                <span data-bind="with: fileSpecOfLogo">
                   <img class="company-logo" src="#" data-bind="attr: {src: fileUrl }" title="{{capitalizeFirst lang.toView}} {{lang.wfm}}" /> 
                </span>
                <span data-bind="ifnot: fileSpecOfLogo">
                  <img class="company-logo" src="img/question.jpg"></img>
                </span>
              </span>
            </span>
          </span>
        </div>
        <div class="pull-left min-left-margin">
          <h4 class="min-left-margin">
            <span class="link-view" data-bind="click: $parent.activateVwmChild">
              <span data-bind="with: vwmCompany">
                <span data-bind="text: mdlStage.name"></span>
              </span>
            </span>
          </h4>
          <h5 class="min-left-margin">
            <span data-bind="with: vwmCompany">
              <span data-bind="text: mdlStage.description"></span>
            </span>
          </h5>
        </div>
      </div>
    </li>
  </ul>
  <!-- if user profile has no employee with company ownership show form with creation of new company -->
  <div data-bind="ifnot: mdlStage.isOwnerAlready">
    <div class="col-md-5 col-md-offset-3">
      <form class="form-horizontal" data-bind="submit: mdlStage.postEmployee">
        <div class="form-group">
          <label class="control-label col-md-3">{{capitalizeFirst lang.companyName}}</label>
          <div class="col-md-9">
            <input class="form-control" type="text" pattern=".{3,255}" title="From 3 to 255 characters" data-bind="value: mdlStage.nameOfCreatedCompany" required="" placeholder="{{lang.companyName}}"></input>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" required="" /> I agree with terms
              </label>
            </div>
          </div>
          <div class="col-md-5 text-right">
            <button class="btn btn-default" type="submit">{{capitalizeFirst lang.toRegisterACompany}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>