<!-- current: vwmWell -->
<div>
  <span data-bind="ifnot: mdlStage.isLoadedHistoryList">{{capitalizeFirst lang.loading}}...</span>
  <div data-bind="if: mdlStage.isLoadedHistoryList">
    <div data-bind="with: vwmScopeOfHistoryOfWell">
      <div data-bind="if: listOfVwmHistoryOfWell().length === 0">
        <small>{{capitalizeFirst lang.noWellHistoryList}}</small>
      </div>
      <div class="clearfix">
        <div class="pull-left" data-bind="if: listOfVwmHistoryOfWell().length > 0">
          {{> well-history-filter-panel }}
        </div>
        <div class="pull-right" data-bind="if: $root.isEmployeeInEditMode">
          <span data-bind="with: wellHistoryNew">
            <input class="input-sm" type="text" size="10" data-bind="datepicker: startUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
            <span> - </span>
            <input class="input-sm" type="text" size="10" data-bind="datepicker: endUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
          </span>
          <button class="btn btn-sm btn-default" data-bind="click: postVwmHistoryOfWell, enable: isEnabledPostHistoryOfWell">
            <i class="glyphicon glyphicon-plus"></i> {{capitalizeFirst lang.toCreateRecord}}
          </button>
        </div>
      </div>
      <div data-bind="foreach: sortedListOfVwmHistoryOfWell">
        <div data-bind="slideVisible: isVisible">
          <div class="row wfm-well-history-wrap">
            <div class="col-md-2">
              <div>
                <div class="bld">{{capitalizeFirst lang.timePeriod}}:</div>
                <div data-bind="ifnot: $root.isEmployeeInEditMode">
                  <div data-bind="with: mdlHistoryOfWell">
                    <div>
                      <span data-bind="unix: startUnixTime"></span>
                    </div>
                    <div>
                      <span data-bind="unix: endUnixTime, visible: isVisibleEndUnixTime"></span>
                    </div>
                  </div>
                </div>
                <div data-bind="if: $root.isEmployeeInEditMode">
                  <div data-bind="with: mdlHistoryOfWell">
                    <input class="input-sm" type="text" size="10" data-bind="datepicker: startUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }"></input>
                    <input class="input-sm" type="text" size="10" data-bind="datepicker: endUnixTime, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }"></input>
                  </div>
                </div>
              </div>
              <div>
                <div data-bind="ifnot: $root.isEmployeeInEditMode">
                  <div data-bind="with: mdlHistoryOfWell">
                    <div data-bind="with: jobType">
                      <span class="bld">{{capitalizeFirst lang.jobType}}:</span>
                      <span data-bind="text: name"></span>
                    </div>
                  </div>
                </div>
                <div data-bind="if: $root.isEmployeeInEditMode">
                  <div data-bind="if: $parent.jobTypeList().length > 0">
                    <span class="bld">{{capitalizeFirst lang.jobType}}:</span>
                    <!-- ko with: mdlHistoryOfWell -->
                    <select class="input-sm" data-bind="options: $parents[1].jobTypeList, optionsText: 'name', optionsValue: 'id', optionsCaption: 'No job type', value: jobTypeId"></select>
                    <!-- /ko -->
                    <button class="btn btn-xs btn-link" data-bind="click: $parent.goToPostingJobType">{{lang.toAddJobTypeToList}}</button>
                  </div>
                </div>
              </div>
              <div data-bind="if: $root.isEmployeeInEditMode" style="margin-top:8px">
                <div class="btn-group-vertical btn-group-sm">
                  <button class="btn btn-default" type="button" data-bind="click: createFileSpecOfHistoryOfWell">
                    <i class="glyphicon glyphicon-paperclip"></i> {{capitalizeFirst lang.attachFile}}
                  </button>
                  <button class="btn btn-default" type="button" data-bind="click: createImageFromFileSpec">
                    <i class="glyphicon glyphicon-picture"></i> {{capitalizeFirst lang.cropImage}}
                  </button>
                  <button class="btn btn-default" type="button" data-bind="click: $parent.removeVwmHistoryOfWell">
                    <i class="glyphicon glyphicon-remove"></i> {{capitalizeFirst lang.toDelete}}
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-10" data-bind="with: mdlHistoryOfWell">
              <div data-bind="ifnot: $root.isEmployeeInEditMode">
                <div data-bind="visible: historyText">
                  <p class="wfm-well-history-record pre-wrap-text" data-bind="text: historyText"></p>
                </div>
              </div>
              <div data-bind="if: $root.isEmployeeInEditMode">
                <textarea class="form-control" rows="3" style="resize: vertical" data-bind="value: historyText"></textarea>
                <button class="btn btn-default btn-sm" type="button" data-bind="click: putWellHistory">
                  <i class="glyphicon glyphicon-saved"></i> {{capitalizeFirst lang.toSave}}
                </button>
              </div>
              <div data-bind="foreach: WfmImages">
                <div>
                  <span class="pointer" data-bind="panzoomImg: {src: croppedImageUrl}">
                    <img class="img-thumbnail elem-shadow" src="" data-bind="attr: { src: croppedImageUrl }" alt="History image" />
                  </span>
                  <span data-bind="if: $root.isEmployeeInEditMode">
                    <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.removeWfmImage"></i>
                  </span>
                </div>
              </div>
              <div data-bind="foreach: WellHistoryFiles" class="clearfix">
                <div class="img-thumbnail pull-left">
                  <span class="link-view pointer">
                    <span data-bind="with: fileSpec">
                      <span data-bind="text: namePlusExtension, click: download"></span>
                    </span>
                  </span>
                  <span data-bind="if: $root.isEmployeeInEditMode">
                    <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.removeFileSpecOfHistoryOfWell"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>