<!-- vwmWell -->
<div>
  <div class="clearfix" data-bind="if: $root.isEmployeeInEditMode">
    <div data-bind="with: mdlStage">
      <!-- ko with: testScopeNewStartUnixTime -->
      <div class="pull-left">
        {{capitalizeFirst lang.date}}:
        <input class="input-sm" type="text" size="10" data-bind="datepicker: unixDate, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
      </div>
      <div class="pull-left min-left-margin">
        {{capitalizeFirst lang.hours}}:
        <input class="input-sm" type="number" min="0" max="23" data-bind="value: hour" placeholder="{{lang.hours}}" />
      </div>
      <div class="pull-left min-left-margin">
        {{capitalizeFirst lang.minutes}}:
        <input class="input-sm" type="number" min="0" max="59" data-bind="value: minute" placeholder="{{lang.minutes}}" />
      </div>
      <!-- /ko -->
      <div class="pull-left min-left-margin">
        <button type="button" class="btn btn-default btn-sm" data-bind="enable: isEnabledPostTestScope, click: postTestScope">
          <i class="glyphicon glyphicon-plus"></i> {{capitalizeFirst lang.toCreateTest}}
        </button>
      </div>
    </div>
  </div>
  <div data-bind="foreach: { data: handledListOfVwmTestScope, as: 'vwmTestScope' }">
    <div>
      <div class="min-top-margin">
        <div class="test-header clearfix" data-bind="css: { 'test-approved': mdlTestScope.isApproved, 'test-declined': mdlTestScope.isApproved() === false }">
          <div class="pull-left">
            <button class="btn btn-inverse btn-xs" data-bind="click: toggleIsDetailed">
              Details
              <i class="glyphicon glyphicon-chevron-up" data-bind="visible: isDetailed"></i> 
              <i class="glyphicon glyphicon-chevron-down" data-bind="hidden: isDetailed"></i>
            </button>
          </div>
          <div class="test-header-prop pull-left min-left-margin">
            <span data-bind="text: mdlTestScope.startUnixTimeDateView"></span>
          </div>
          <div class="pull-right">
            <div data-bind="if: mdlTestScope.isApproved() !== null">
              <div class="min-right-margin">
                <span data-bind="if: $root.isEmployeeInEditMode">
                  <button class="btn btn-xs btn-inverse" type="button" data-bind="click: mdlTestScope.setStatusToNull">
                    Clear status
                  </button>
                </span>
                <span class="test-status">
                  <span data-bind="if: mdlTestScope.isApproved() === true">{{capitalizeFirst lang.valid}}</span>
                  <span data-bind="if: mdlTestScope.isApproved() === false">{{capitalizeFirst lang.invalid}}</span>
                </span>
              </div>
            </div>
            <div data-bind="if: $root.isEmployeeInEditMode">
              <div data-bind="if: mdlTestScope.isApproved() === null">
                <div class="btn-group">
                  <button type="button" class="btn btn-xs btn-success" data-bind="click: mdlTestScope.setStatusToApproved">{{capitalizeFirst lang.approve}}</button>
                  <button type="button" class="btn btn-xs btn-danger" data-bind="click: mdlTestScope.setStatusToDeclined">{{capitalizeFirst lang.decline}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>
                <span data-bind="visible: isDetailed">Hour</span>
              </th>
              <!-- parent: vwmWell -->
              <!-- ko foreach: $parent.mdlStage.getWellGroup().listOfWfmParameterOfWroup -->
              <th>
                <span data-bind="text: wfmParameterId"></span>
              </th>
              <!-- /ko -->
              <th data-bind="slideVisible: isDetailed">{{capitalizeFirst lang.comment}}</th>
              <!-- ko if: $root.isEmployeeInEditMode -->
              <th data-bind="slideVisible: isDetailed"></th>
              <!-- /ko -->
            </tr>
          </thead>
          <tbody data-bind="slideVisible: isDetailed">
            <!-- ko foreach: {data: mdlTestScope.testDataList, as: 'testData'} -->
            <tr>
              <td>
                <span data-bind="text: hourNumber"></span>
              </td>
              <!-- parent: vwmTestScope, parents[1]: vwmWell -->
              <!-- ko foreach: $parents[1].mdlStage.getWellGroup().listOfWfmParameterOfWroup -->
              <td>
                <div data-bind="if: testData.isEdit() === true">
                  <input class="input-sm" style="width: 50px" data-bind="value: testData.dict[$data.wfmParameterId]" />
                </div>
                <div data-bind="if: testData.isEdit() === false">
                  <span data-bind="text: testData.dict[$data.wfmParameterId]"></span>
                </div>
              </td>
              <!-- /ko -->
              <td>
                <div data-bind="if: isEdit() === true">
                  <input class="input-sm" data-bind="value: comment" />
                </div>
                <div data-bind="if: isEdit() === false">
                  <span data-bind="text: comment"></span>
                </div>
              </td>
              <!-- ko if: $root.isEmployeeInEditMode -->
              <td>
                  <button type="button" class="btn btn-default btn-xs" data-bind="click: editTestData, slideVisible: isEdit() === false">{{capitalizeFirst lang.toEdit}}</button>
                  <button type="button" class="btn btn-default btn-xs" data-bind="click: saveTestData, slideVisible: isEdit() === true">{{capitalizeFirst lang.toSave}}</button>
                  <button type="button" class="btn btn-default btn-xs" data-bind="click: cancelEditTestData, slideVisible: isEdit() === true">{{capitalizeFirst lang.toCancel}}</button>
                  <!-- parent: vwmTestScope -->
                  <button type="button" class="btn btn-default btn-xs" data-bind="click: vwmTestScope.mdlTestScope.deleteTestData, slideVisible: $index() === ($parent.mdlTestScope.testDataList().length - 1)">{{capitalizeFirst lang.toDelete}}</button>
              </td>
              <!-- /ko -->
            </tr>
            <!-- /ko -->
            <!-- ko if: $root.isEmployeeInEditMode -->
            <tr>
              <td colspan="4">
                <button type="button" class="btn btn-xs btn-default" data-bind="click: vwmTestScope.mdlTestScope.addTestData">
                  {{capitalizeFirst lang.toAddHour}}
                </button>
              </td>
            </tr>
            <!-- /ko -->
          </tbody>
          <tfoot>
            <tr>
              <td>
                {{capitalizeFirst lang.total}}
              </td>
              <!-- parent: vwmWell -->
              <!-- ko foreach: $parent.mdlStage.getWellGroup().listOfWfmParameterOfWroup -->
              <td>
                <span class="bld" data-bind="text: vwmTestScope.mdlTestScope.testDataTotal()[$data.wfmParameterId]"></span>
              </td>
              <!-- /ko -->
              <td data-bind="slideVisible: isDetailed"></td>
              <!-- ko if: $root.isEmployeeInEditMode -->
              <td data-bind="slideVisible: isDetailed"></td>
              <!-- /ko -->
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>