{{> widget-perfomance}}
{{> widget-sketch}}
{{> widget-summary}}
<script type="text/html" id="well-widget-scope-tpl">
    <div data-bind="if: isLoadedWellWidgoutList">
        <div class="clearfix">
            <div class="pull-left">
                <span class="bld" data-bind="text: Name"></span>
                <span data-bind="with: selectedWellWidgout">
                    <span data-bind="if: $root.isEditable">
                        <input class="input-sm" type="text" data-bind="value: name" />
                    </span>
					<span data-bind="ifnot: $root.isEditable">
                        <span data-bind="text: name" />
                    </span>
                </span>
            </div>
            <div class="pull-right" data-bind="if: $root.isEditable, visible: selectedWellWidgout">
                <button class="btn btn-sm btn-default" data-bind="click: deleteWellWidgout">{{capitalizeFirst lang.toDeleteLayout}}</button>
            </div>
            <div class="pull-right" data-bind="visible: selectedWellWidgout" style="margin-left: 32px">
                <select class="input-sm" data-bind="options: wellWidgoutList, optionsText: 'name', value: selectedWellWidgout"></select>
            </div>
            <div class="pull-right" data-bind="if: $root.isEditable">
                <select class="input-sm" data-bind="options: possibleWidgoutList, optionsText: 'name', value: slcPossibleWidgout, optionsCaption: 'Choose scheme...'"></select>
                <button class="btn btn-sm btn-default" data-bind="enable: slcPossibleWidgout, click: postWellWidgout">{{capitalizeFirst lang.toCreateLayout}}</button>
            </div>
        </div>
        <div data-bind="with: selectedWellWidgout">
            <div class="row" data-bind="foreach: widgockList">
                <div data-bind="css: columnStyle">
                    <div data-bind="foreach: widgetList">
                        <div class="widget-tile">
                            <div class="clearfix widget-tile-header">
                                <div class="pull-left">
                                    <div data-bind="ifnot: isVisSettingPanel">
                                        <b data-bind="text: name"></b>
                                    </div>
                                    <div data-bind="if: isVisSettingPanel">
                                        <input type="text" class="input-sm" data-bind="value: name" />
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div data-bind="ifnot: isVisSettingPanel">
                                        <button class="btn btn-xs" type="button" data-bind="click: showVisSettingPanel">
                                            <i class="glyphicon glyphicon-cog" title="{{capitalizeFirst lang.settings}}"></i>
                                        </button>
                                        <button class="btn btn-xs" type="button" data-bind="click: $parent.deleteWidget">
                                            <i class="glyphicon glyphicon-remove" title="{{capitalizeFirst lang.toDelete}}"></i>
                                        </button>
                                    </div>
                                    <div data-bind="if: isVisSettingPanel">
                                        <button class="btn btn-sm btn-success" type="button" data-bind="click: putWidget">
                                            {{capitalizeFirst lang.toSave}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-tile-content">
                                <div data-bind="template: { name: widgetTpl, data: $data, as: 'widget', afterRender: processWidget }"></div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="if: $root.isEditable">
                        <div class="widget-tile">
                            <div class="widget-empty">
                                <div class="text-right">
                                    <select class="input-sm" data-bind="options: sectionIdList, value: selectedSectionId, optionsCaption: 'widget type...'"></select>
                                    <button class="btn btn-default btn-sm" type="button" data-bind="click: addWidget, enable: selectedSectionId">
                                        {{capitalizeFirst lang.toAdd}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>