<script type="text/html" id="well-history-tpl">
  <span data-bind="ifnot: isLoadedHistoryList">{{capitalizeFirst lang.loading}}...</span>
  <div data-bind="if: isLoadedHistoryList">
    <div class="row">
      <div class="col-sm-2">
        <div data-bind="visible: $root.isEditable">
          <button class="btn btn-sm btn-default" data-bind="click: addWellHistory">
            <i class="glyphicon glyphicon-plus"></i> {{capitalizeFirst lang.toCreateRecord}}
          </button>
        </div>
      </div>
      <div class="col-sm-10">
        <div data-bind="if: historyList().length > 0">
          <div data-bind="with: historyView">
            <span>{{capitalizeFirst lang.filterByDate}}:</span>
            <input class="input-sm" type="text" size="10" data-bind="datepicker: startDate, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
            <span> - </span>
            <input class="input-sm" type="text" size="10" data-bind="datepicker: endDate, datepickerOptions: { format: 'yyyy-mm-dd', selectYears: true, selectMonths: true }" />
            <button class="btn btn-default btn-sm" type="button" data-bind="click: changeSortByDateOrder">
              {{capitalizeFirst lang.sortByDate}} <i class="glyphicon" data-bind="css: sortByDateCss"></i>
            </button>
          </div>
        </div>
        <div data-bind="if: historyList().length === 0">
          <small>{{capitalizeFirst lang.noWellHistoryList}}</small>
        </div>
      </div>
    </div>
    <div data-bind="with: historyView">
      <div data-bind="foreach: sortedHistoryList">
        <div class="row well-history-block">
          <div class="col-md-2">
            <div>
              <span data-bind="date: StartDate"></span>
            </div>
            <div>
              <span data-bind="date: EndDate, visible: StartDate() !== EndDate()"></span>
            </div>
            <div data-bind="if: $root.isEditable">
              <div class="btn-group-vertical btn-group-sm">
                <button class="btn btn-default" type="button" data-bind="click: editWellHistory">
                  <i class="glyphicon glyphicon-edit"></i> {{capitalizeFirst lang.toEdit}}
                </button>
                <button class="btn btn-default" type="button" data-bind="click: chooseWellHistoryFile">
                  <i class="glyphicon glyphicon-paperclip"></i> {{capitalizeFirst lang.attachFile}}
                </button>
                <button class="btn btn-default" type="button" data-bind="click: chooseWfmImage">
                  <i class="glyphicon glyphicon-picture"></i> {{capitalizeFirst lang.cropImage}}
                </button>
                <button class="btn btn-default" type="button" data-bind="click: $parents[1].deleteWellHistory">
                  <i class="glyphicon glyphicon-remove"></i> {{capitalizeFirst lang.toDelete}}
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <div data-bind="visible: History">
              <blockquote class="pre-wrap-text" data-bind="text: History"></blockquote>
            </div>
            <div data-bind="foreach: WfmImages">
              <div>
                <img src="" data-bind="attr: { src: dataUrl }" alt="History image" class="img-thumbnail elem-shadow" />
                <span data-bind="visible: $root.isEditable">
                  <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.deleteWfmImage"></i>
                </span>
              </div>
            </div>
            <div data-bind="foreach: WellHistoryFiles" class="clearfix">
              <div class="img-thumbnail pull-left">
                <a href="#" data-bind="text: FileNameWODate, click: downloadWellHistoryFile"></a>
                <i class="glyphicon glyphicon-remove link-icon" data-bind="click: $parent.deleteWellHistoryFile, visible: $root.isEditable"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>